In [96]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sb

In [97]:
scores2015 = pd.read_json('scores2015.json', orient='records')
scores2016 = pd.read_json('scores2016.json', orient='records')
scores2017 = pd.read_json('scores2017.json', orient='records')
scores2018 = pd.read_json('scores2018.json', orient='records')
scores2019 = pd.read_json('scores2019.json', orient='records')

In [98]:
scores2015.insert(loc=1, column='Year', value=2015)
scores2016.insert(loc=1, column='Year', value=2016)
scores2017.insert(loc=1, column='Year', value=2017)
scores2018.insert(loc=1, column='Year', value=2018)
scores2019.insert(loc=1, column='Year', value=2019)

In [99]:
scores2017 = scores2017.merge(scores2015[['Code', 'Region']], how='left', on='Code')

In [100]:
scores2017.loc[91, 'Region'] = 'Sub-Saharan Africa'
scores2017.loc[49, 'Region'] = 'Latin America and Caribbean'
scores2017.loc[109, 'Region'] = 'Sub-Saharan Africa'
scores2017.loc[145, 'Region'] = 'Sub-Saharan Africa'

In [101]:
scores2017[scores2017.Region.isnull()]

Empty DataFrame
Columns: [Country, Year, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Code, Region]
Index: []

In [102]:
scores2018 = scores2018.merge(scores2015[['Code', 'Region']], how='left', on='Code')

In [103]:
scores2018.loc[96, 'Region'] = 'Sub-Saharan Africa'
scores2018.loc[48, 'Region'] = 'Latin America and Caribbean'
scores2018.loc[117, 'Region'] = 'Sub-Saharan Africa'
scores2018.loc[152, 'Region'] = 'Sub-Saharan Africa'

In [104]:
scores2018[scores2018.Region.isnull()]

Empty DataFrame
Columns: [Country, Year, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Code, Region]
Index: []

In [105]:
scores2019 = scores2019.merge(scores2015[['Code', 'Region']], how='left', on='Code')

In [106]:
scores2019.loc[110, 'Region'] = 'Sub-Saharan Africa'
scores2019.loc[118, 'Region'] = 'Sub-Saharan Africa'
scores2019.loc[111, 'Region'] = 'Sub-Saharan Africa'
scores2019.loc[154, 'Region'] = 'Sub-Saharan Africa'

In [107]:
scores2019[scores2019.Region.isnull()]

Empty DataFrame
Columns: [Country, Year, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Code, Region]
Index: []

In [108]:
scores2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 154
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       155 non-null    object
 1   Year                          155 non-null    int64
 2   Score                         155 non-null    float64
 3   GDP per capita                155 non-null    float64
 4   Social support                155 non-null    float64
 5   Healthy life expectancy       155 non-null    float64
 6   Freedom to make life choices  155 non-null    float64
 7   Generosity                    155 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
 9   Code                          155 non-null    object
 10  Region                        155 non-null    object
dtypes: float64(7), int64(1), object(3)
memory usage: 19.5+ KB

In [109]:
merged = scores2015.merge(scores2016, how='outer')

In [110]:
merged = merged.merge(scores2017, how='outer')

In [111]:
merged = merged.merge(scores2018, how='outer')

In [112]:
merged = merged.merge(scores2019, how='outer')

In [114]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 775 entries, 0 to 774
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       775 non-null    object
 1   Year                          775 non-null    int64
 2   Region                        775 non-null    object
 3   Score                         775 non-null    float64
 4   GDP per capita                775 non-null    float64
 5   Social support                775 non-null    float64
 6   Healthy life expectancy       775 non-null    float64
 7   Freedom to make life choices  775 non-null    float64
 8   Perceptions of corruption     774 non-null    float64
 9   Generosity                    775 non-null    float64
 10  Code                          775 non-null    object
dtypes: float64(7), int64(1), object(3)
memory usage: 92.7+ KB

In [121]:
merged = merged.rename(columns={'Healthy life expectancy': 'Life expectancy'})

In [122]:
merged.to_json('merged.json', orient='records')